@import url(../Assets/Fonts/stylesheet.css);
@import url(./Exhibitions.css);
@import url(./HomePage.css);
@import url(./Contact.css);

*, 
*::after, 
*::before{
    box-sizing: border-box;
}

:root{
    --bar-width: 50px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --background-blue: #010c80;
    --background-dark-blue: #00064d;
    --background-lightblue: #0076C6;
    --background-purple: #8331A7;
    --background-white: #eff1ff;
    --background-sharp-white: #f8f9ff;
    --box-shadow: #424242;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body{
    background-color: var(--background-white);
    display: flex;
    flex-flow: column;
    font-family: 'andikaregular';
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    padding: 2px;
    background-color: var(--background-white);
    box-shadow: 0px 4px 4px 0px var(--box-shadow);
}

header img{
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--background-blue);
}

p{
    line-height: 25px;
}

.h-nav a{
    font-size: 25px;
    padding: 0px 5px;
}

.highlight{
    text-decoration: underline;
}

.contribution-button{
    color: var(--background-blue);
}

.hamburger-menu{
    display: none;
}

.h-nav-sidebar{
    display: none;
}

main{
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

footer{
    background-color: var(--background-lightblue);
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 10vh;
    color: var(--background-blue);
    padding: 60px 0px;
    box-shadow: 0px 4px 4px 0px var(--box-shadow) inset;
}

footer nav{
    display: flex;
    flex-flow: column;
}

footer nav a{
    font-size: 15px;
}

@media (max-width: 700px) {
    header img{
        width: 200px;
        height: 60px;
    }

    header i{
        width: 1.5em;
        height: 1.5em;
    }

    .h-nav{
        display: none;
    }

    .h-nav-sidebar{
        flex-basis: 100%;
    }

    .h-nav-sidebar a{
        font-size: 20px;
        padding: 8px 20px;
    }

    .hamburger-menu:has(input:checked) ~ .h-nav-sidebar{
        transition: display var(--animation-timing);
        display: flex;
        flex-flow: column;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input{
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--background-blue);
        border-radius: 9999px;
        transform-origin: left center;
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing)
    }

    .hamburger-menu input{
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
        }

    .hamburger-menu input:checked{
        opacity: 0;
        width: 0;
    }

    .hamburger-menu:has(input:checked)::before{
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .hamburger-menu:has(input:checked)::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu{
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        cursor: pointer;
    }
}