body{
    display: flex;
    flex-flow: column;
}

header{
    border: 1px solid red;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    align-items: center;
    flex-basis: 100%;
    box-shadow: 0px 4px 4px 0px #010C80;
}

.header-logo{
    border: 1px solid red;
    flex: 1 1 33%;
}

nav{
    border: 1px solid red;
    flex: 2 1 66%;
}

nav a{
    text-decoration: none;
    color: #010C80;
    font-size: 25px;
}

.highlight{
    text-decoration: underline;
}